*{
	margin:0;
	padding: 0;
}
.header{
	background: #272727;
	padding: 20px;
	color: #fff;
	text-align: center;
}
.footer{
	color: #fff;
	text-align: right;
	padding: 10px;
	background: #29336e;
}
.constants{
	background: #131a3f;
	color: #fff;
}
.constants h1, p{
	padding: 20px 0;
}
.checkboxes > div{
	padding: 20px;
	background: #ddd;
	margin: 10px 0;
}